<?xml version="1.0"?>
<config>
    <modules>
        <Cm_MountStorage>
            <version>0.1.0</version>
        </Cm_MountStorage>
    </modules>
    <global>
        <models>
            <cm_mountstorage>
                <class>Cm_MountStorage_Model</class>
                <resourceModel>cm_mountstorage_resource</resourceModel>
            </cm_mountstorage>
            <cm_mountstorage_resource>
                <class>Cm_MountStorage_Model_Resource</class>
            </cm_mountstorage_resource>
            <adminhtml>
                <rewrite>
                    <system_config_source_storage_media_storage>Cm_MountStorage_Model_Adminhtml_System_Config_Source_Storage_Media_Storage</system_config_source_storage_media_storage>
                </rewrite>
            </adminhtml>
            <core>
                <rewrite>
                    <file_storage>Cm_MountStorage_Model_Core_File_Storage</file_storage>
                    <file_storage_database>Cm_MountStorage_Model_Core_File_Storage_Database</file_storage_database>
                    <file_storage_directory_database>Cm_MountStorage_Model_Core_File_Storage_Directory_Database</file_storage_directory_database>
                </rewrite>
            </core>
            <cms>
                <rewrite>
                    <wysiwyg_images_storage>Cm_MountStorage_Model_Cms_Wysiwyg_Images_Storage</wysiwyg_images_storage>
                </rewrite>
            </cms>
        </models>
        <helpers>
            <cm_mountstorage>
                <class>Cm_MountStorage_Helper</class>
            </cm_mountstorage>
            <core>
                <rewrite>
                    <file_storage_database>Cm_MountStorage_Helper_Core_File_Storage_Database</file_storage_database>
                </rewrite>
            </core>
        </helpers>
    </global>
</config>
